/* Anne-Lii Hansen anha2324@student.miun.se*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:url("../media/background.jpg"); 
    width: 100%;
    height: 100vh;
    margin-top: 100px;
}

#container {
    opacity: 70%;
    background-color: rgb(248, 234, 248);
    width: 100%;;
    max-width: 800px;
    margin: 0 auto;
    height: auto;
    min-height: 60vh;
    padding-top: 200px;
    margin-bottom: 200px;
}

#liner {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

form {
    padding-bottom: 100px;
}

h1 {
    padding-bottom: 20px;
    margin-left: 10px;
    font-size: 32px;
}

label {
    margin-left: 10px;
    font-size: 24px;
}

input {
    height: 30px;
    font-size: 20px;
    margin: 10px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    list-style: none;
    font-size: 20px;
}
.taskcontainer {
    flex: 0.7;
    margin-right: 10px;
}

.buttoncontainer {
    flex: 0.3;
}

button {
    padding: 5px 10px;
    margin: 3px;
    border-radius: 5px;
    background-color: rgb(241, 209, 241);
    height: 40px;
    width: 100%;
    max-width: 80px;
}

button:hover {
    cursor: pointer;
    box-shadow: 3px 3px 10px grey;
}

#addbutton {
    padding: 8px 15px;
    background-color: rgb(241, 209, 241);
    border-radius: 5px;
    margin-left: 10px;
    width: 100%;
    max-width: 200px;

}

#clearlist {
    padding: 8px 15px;
    margin:  10px;
    background-color: rgb(241, 209, 241);
    border-radius: 5px;
    width: 100%;
    max-width: 200px;
}
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 10px;
    opacity: 70%;
    background-color: rgb(248, 234, 248);

}

.completed-task {
    color: green;
    margin: 5px;
}
